<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./css/updateProjectForm.css">
		<title>CV Fabien WALLE - login</title>
	</head>
	<body>
		<div id="frame">
			<form action="/login" method="POST" id="form">
				<h1 id="title">Connexion admin</h1>
				<input id="name" placeholder="Login" name="login">
				<input id="password" placeholder="mot de passe" name="password">
				<button type="submit">Valider</button>
			</form>
		</div>
	</body>
</html>
